= form_for(@user) do |f|
  %p
    .field.coolRoundField.infieldWrapper
      = f.text_field :email, "data-infield-label" => "ваш email"

    .field.coolRoundField.infieldWrapper
      = f.password_field :password, "data-infield-label" => "ваш секретный пароль"

    .field.coolRoundField.infieldWrapper
      = f.password_field :password_confirmation, "data-infield-label" => "повторите ваш пароль"

    .field.coolRoundField.infieldWrapper
      = f.text_field :phone, "data-infield-label" => "телефон, например 9152236577"

  #continue_registration_prompt
    %a{:onClick => "(function(){$('form').submit()})()"}

- content_for :spinnets do

  =javascript_include_tag "spinnets/jquery.infieldlabel.js"
  =javascript_include_tag "spinnets/cool_fields.js"
  =javascript_include_tag "spinnets/registration.js"


- content_for :right do
  .right_margin
  %p
    Пожалуйста, укажите настоящий адрес электронной почты и номер мобильного
    телефона. Для полноценного использования нашего сервиса вам потребуется
    подтвердить указанные данные с помощью быстрой процедуры.

  %p
    Мы обещаем держать в тайне ваши регистрационные данные и не будем передавать
    их третьим лицам.

= content_for :left_panel_layout do "half" end
= content_for :right_panel_layout do "half" end